/****************************************************
			CAROUSEL
****************************************************/
#pictures {
    position: relative;
    padding: 0;
    opacity: 0.6 !important;
}

#background-container {
    background: url('Business-Backgrounds-HD-0.jpg') no-repeat;
    background-size: cover;
}

#pictures .item img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.welcome {
    position: relative;
    width: 100%;
    height: 80%;
    padding: 4.5em 0 0;
}

.intro {
    margin-left: 7em;
    font-weight: bolder;
}

.belt {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #000000;
    color: #ffffff;
    margin-top: 5em;
    padding: 1em 0 2.5em;
}

.owl-pagination {
    margin-top: -3em;
    z-index: 1;
}

/****************************************************
			HEADERS, LISTS AND PARAGRAPHS
****************************************************/

.intro h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
    color: #ffffff;
}

.belt h2 {
    font-size: 1.7em;
    font-weight: lighter;
    opacity: 0.8;
}


.belt .fa {
    font-size: 0.5em;
    opacity: 0.8;
}

#row-2 h4 {
    margin: 0;
}

.belt ul {
    list-style: none;
    display: inline;
    padding: 0;
 }

.belt li {
    display: inline;
    margin: 0.5em;
}

.intro p {
    font-size: 1.2em;
    color: #ffffff;
}



#row-2.btn-default {
    padding:0.5em;
    border: 1px solid #666666;
}

#row-2.btn-default:hover {
    text-decoration: none;
    color: #1E38B8;
}

.block-details {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    padding: 3em;
    color: #666666;
    border-bottom: 2px solid transparent;
}

.block-details:hover {
    background: #f8f8f8;
    border-bottom: 2px solid #1E38B8;
}

.blue {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.big {
    font-size: 3.5em;
    color: #ffffff;
    background: #1E38B8;
    width: 67px;
    height: 67px;
    border-radius: 100%;
    margin: 4px;
}

.block-details:hover .blue {
    color: #1E38B8;
}

.block-details a.btn {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.block-details a.btn:hover {
    background: #1E38B8;
    color: #ffffff;
}

#row-3 {
    background: #1E38B8;
    color: #ffffff;
    padding-top: 4em;
    padding-bottom: 4em;
}