<%= render 'layouts/carousel' %>
<br xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div id="row-2" class="row text-center">
    <br>
    <div class="col-sm-4 text-left block-details">
      <p class="text-center big pull-left">F</p>
      <h4 class="service-heading">Food<br>Services</h4>
      <br>
      <p>
        We offer a variety of services in Nutrition balancing, Food Fortifications, Food Value Addition. Your animals
        are also not left out
      </p>
      <a class="btn btn-default">FIND OUT MORE</a>
    </div>

    <div class="col-sm-4 text-left block-details">
      <p class="text-center big pull-left">M</p>
      <h4 class="service-heading">Machinery<br>Experts</h4>
      <br>
      <p>
        We are leaders in machine design, fabrication, and plant layout installations. You just tell us what
        your needs are!
      </p>
      <a class="btn btn-default">FIND OUT MORE</a>
    </div>

    <div class="col-sm-4 text-left block-details">
      <p class="text-center big pull-left">C</p>
      <h4 class="service-heading">Seasoned<br>Consultants</h4>
      <br>
      <p>
        Do you need advice on equipment choice, product development and on technical issues? You are
        at the right place. Contact us today!
      </p>
      <a class="btn btn-default">FIND OUT MORE</a>
    </div>
  </div>
</div>