<div id="pictures" class="owl-carousel owl-theme">
  <div class="item welcome" id="slide-1">
    <div class="intro">
      <h1>You need food services?</h1>
      <p>
        We've got you covered<br>
        Whatever you need<br>
        Whenever you need it<br>
        Wherever you are<br>
      </p>
      <button class="btn">Learn More</button>
    </div>

    <div class="text-center belt">
      <h2>Get exactly what you need, wherever you are.</h2>
      <ul>
        <li><b>EXCELLENT FOOD SERVICES</b></li>
        <li class="fa fa-circle"></li>
        <li>Machinery Services</li>
        <li class="fa fa-circle"></li>
        <li>Ova Pixels</li>
      </ul>
    </div>
  </div>
  <div class="item welcome" id="slide-2">
    <div class="intro">
      <h1>You need Machinery?</h1>
      <p>
        You think it<br>
        We Design it<br>
        We fabricate it<br>
        We install it<br>
      </p>
      <button class="btn">Learn More</button>
    </div>

    <div class="text-center belt">
      <h2>Get best machinery services to suit your needs</h2>
      <ul>
        <li>Excellent Food Services</li>
        <li class="fa fa-circle"></li>
        <li><b>MACHINERY SERVICES</b></li>
        <li class="fa fa-circle"></li>
        <li>Ova Pixels</li>
      </ul>
    </div>
  </div>
  <div class="item welcome" id="slide-1">
    <div class="intro">
      <h1>Are you printing something?</h1>
      <p>
        We print all printables<br>
        Unbeatable quality<br>
        Unbeatable prices<br>
        Timely delivery<br>
      </p>
      <button class="btn">Learn More</button>
    </div>

    <div class="text-center belt">
      <h2>Won't you rather print with us? We do</h2>
      <ul>
        <li>Excellent Food Services</li>
        <li class="fa fa-circle"></li>
        <li>Machinery Services</li>
        <li class="fa fa-circle"></li>
        <li><b>OVA PIXELS</b></li>
      </ul>
    </div>
  </div>
</div>