<div class="footer container-fluid">
  <div class="container">
    <div id="footer-row-1" data-role="footer" class="row">
      <div class="col-sm-4">
        <h4>
          <%= image_tag '', alt: '', class: 'name' %><br>
        </h4>
        <p>
          Ovatech Global Resources vero istorum quidem, inquit. Qualem igitur hominem natura inchoavit? Non est igitur
          summum malum dolor. Sed haec nihil sane ad rem
        </p>
        <br>
        <h4>Contact us</h4>
        <div>
          <a><i class="fa fa-mobile-phone fa-2x pull-left"></i></a>
          <a href="tel:000000000">000000000</a><br>
        </div>
        <br>
        <div>
          <a><i class="fa fa-envelope fa-lg pull-left"></i></a>&nbsp
          <a href="mailto:info@ovatechgr.com">info@ovatechgr.com</a>
        </div>
      </div>
      <div class="col-sm-4">
        <h4>Testimonials</h4>
        <p>
          <i class="fa fa-quote-left fa-2x pull-left"></i>
          Quod equidem non reprehendo; Hoc simile tandem est? Tum ille: Ain tandem? Efficiens dici potest. Quare conare,
          quaeso. Tollenda est atque extrahenda radicitus.
        </p>
      </div>
      <div class="row col-sm-4 text-center">
        <h4 class="text-left">Locate Us</h4>
        <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCK4A2GUKhzcS7y43Fhonr8PVob1I3cd_4&q=Akure" allowfullscreen>
        </iframe>
        <address class="text-left">
          <strong>Ovatech Global Resources</strong><br>
          <i class="fa fa-map-marker fa-3x pull-left"></i>
          Shop X, Industrial Park<br>
          Opposite Shagari Estate<br>
          Akure, Nigeria.
        </address>
      </div>
    </div>
    <br>
    <div id="footer-row-2" class="row">
      <%= link_to 'Ovatech Global Resources', root_path %><br>
      &copy <%= Time.zone.now.year %>. All rights reserved.<br>
    </div>
  </div>
</div>